<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>

<table style="display: flex; flex-direction: column; align-items: center; justify-content: center">
    <thread>
        <tr style="display: flex; justify-content: space-around">
            <th scope="col" style="width:150px; padding: 12px">Логин</th>
            <th scope="col" style="width:150px; padding: 12px">E-mail</th>
            <th scope="col" style="width:150px; padding: 12px">Имя</th>
            <th scope="col" style="width:150px; padding: 12px">Фамилия</th>
            <th scope="col" style="width:150px; padding: 12px">Возраст</th>
            <th scope="col" style="width:150px; padding: 12px">Редактировать</th>
            <th scope="col" style="width:150px; padding: 12px">Удалить</th>
        </tr>
    </thread>

    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.getUsername()}" style="width:150px; padding: 12px; text-align: center"></td>
        <td th:text="${user.getEmail()}" style="width:150px; padding: 12px; text-align: center"></td>
        <td th:text="${user.getName()}" style="width:150px; padding: 12px; text-align: center"></td>
        <td th:text="${user.getSurname()}" style="width:150px; padding: 12px; text-align: center"></td>
        <td th:text="${user.getAge()}" style="width:150px; padding: 12px; text-align: center"></td>
        <td style="width:150px; padding: 12px; text-align: center">
            <form th:method="GET" th:action="@{/admin/edit/{id}(id = ${user.getId()})}">
                <input style=" background: white; border: 1px solid #e36d18; border-radius: 5px; padding: 10px 17px; cursor: pointer" type="submit" value="Редактировать">
            </form>
        </td>
        <td style="width:150px; padding: 12px; text-align: center">
            <form th:method="DELETE" th:action="@{/admin/delete/{id}(id = ${user.getId()})}">
                <input style=" background: white; border: 1px solid #e36d18; border-radius: 5px; padding: 10px 17px; cursor: pointer" type="submit" value="Удалить">
            </form>
        </td>

    </tr>
    </tbody>

</table>

<br>
<hr/>

<form style="display: flex; justify-content: center; align-items: center" th:method="GET" th:action="@{/admin/new}">
    <input style="color: white; background: #e36d18; border: 1px solid lightgray; border-radius: 5px; padding: 10px 17px; cursor: pointer" type="submit" value="Добавить">
</form>

<br>

<form style="display: flex; justify-content: center; align-items: center" th:method="GET" th:action="@{/user}">
    <input style="color: white; background: #e36d18; border: 1px solid lightgray; border-radius: 5px; padding: 10px 17px; cursor: pointer" type="submit" value="Моя страница">
</form>

<br>

<form style="display: flex; justify-content: center; align-items: center" th:method="GET" th:action="@{/logout}">
    <input style="color: white; background: #e36d18; border: 1px solid lightgray; border-radius: 5px; padding: 10px 17px; cursor: pointer" type="submit" value="Выйти">
</form>


</body>
</html>