<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>


<form style="display: flex; flex-direction: column; align-items: center; justify-content: center" th:method="POST" th:action="@{/admin}" th:object="${user}">
    <input style="padding: 10px; border: 1px solid lightgray; border-radius: 5px;" placeholder="Введите логин.." type="text" th:field="*{username}" id="username"/>

    <br/>

    <input style="padding: 10px; border: 1px solid lightgray; border-radius: 5px;" placeholder="Введите пароль.." type="text" th:field="*{password}" id="password"/>

    <br/>

    <input style="padding: 10px; border: 1px solid lightgray; border-radius: 5px;" placeholder="Введите e-mail.." type="text" th:field="*{email}" id="email"/>

    <br/>

    <input style="padding: 10px; border: 1px solid lightgray; border-radius: 5px;" placeholder="Введите имя.." type="text" th:field="*{name}" id="name"/>

    <br/>

    <input style="padding: 10px; border: 1px solid lightgray; border-radius: 5px;" placeholder="Введите фамилию.." type="text" th:field="*{surname}" id="surname"/>

    <br/>

    <input style="padding: 10px; border: 1px solid lightgray; border-radius: 5px;" placeholder="Введите возраст.." type="text" th:field="*{age}" id="age"/>

    <br/>

    <input style="color: white; background: #e36d18; border: 1px solid lightgray; border-radius: 5px; padding: 10px 17px; cursor: pointer" type="submit" value="Создать">
</form>

<br>
<hr/>

<form style="display: flex; justify-content: center; align-items: center" th:method="GET" th:action="@{/logout}">
    <input style="color: white; background: #e36d18; border: 1px solid lightgray; border-radius: 5px; padding: 10px 17px; cursor: pointer" type="submit" value="Выйти">
</form>

</body>
</html>